# Allow npm to be used even though pnpm is the preferred package manager
engine-strict=false

# Needed for packages with optional native bindings (better-sqlite3)
optional=true

# Don't fail on peer dependency warnings
legacy-peer-deps=true
